.purple{
background-color: purple;
color: purple;
}

.green{
    background-color: green;
    color: green
}

.pink{
    background-color: pink;
    color: pink
}

.red{
    background-color: red;
    color: red
}

.orange{
    background-color: orange;
    color: orange
}
.card{
    background: white;
    border: 1px solid black;
   width: 400px;
   display: block;
    margin: auto;
    padding: 20px;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: auto;
}

#quote-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: -20px;
    margin-top: 10px;
}

p{
 margin-top: 20px;
}

#new-quote {
    width: 100px;
    height: 40px;
}